<head>
    <script src="../biblioteca/js/administrador.js"></script>
</head>
<div class="container">
    <div class="page-header">
        <h1 class="all-tittles">Sistema bibliotecario <small>Administración Usuarios</small></h1>
    </div>
</div>
        <form autocomplete="off" id="administradorForm">
            <div class="container-flat-form">
                <div class="title-flat-form title-flat-blue">
                    Adminsitrador.
                </div>
                <div class="row">
                    <div class="col-sm-3 hidden">
                        <div class="group-material">
                            <input type="text" class="tooltips-general material-control" name="administradorId"
                                v-model="administradorId" data-toggle="tooltip" data-placement="top" title
                                data-original-title="Adminsitrador Id.">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>AdministradorId</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="group-material">
                           
                            <select class="tooltips-general material-control" name="perfilId" v-model="perfilId"
                                data-toggle="tooltip" data-placement="top" data-toggle="tooltip" data-placement="top"
                                required data-original-title="Elige la categoría del libro">
                                <option value="0" disabled="" selected="">Selecciona un Pefil</option>
                                {{#each perfilList}}
                                <option value="{{perfilId}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="group-material">
                            <input type="text" class="tooltips-general material-control" required name="nombre"
                                v-model="nombre" data-toggle="tooltip" data-placement="top" title
                                data-original-title="Escribe el nombre del Administrador.">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Nombre</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="group-material">
                            <input type="text" class="tooltips-general material-control" required name="apellidoPaterno"
                                v-model="apellidoPaterno" data-toggle="tooltip" data-placement="top" title
                                data-original-title="Escribe el apellido paterno.">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Apellido Paterno</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="group-material">
                            <input type="text" class="tooltips-general material-control" required  name="apellidoMaterno"
                                v-model="apellidoMaterno" data-toggle="tooltip" data-placement="top" title
                                data-original-title="Escribe el nombre el apellido materno.">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Apellido Materno</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="group-material">
                            <input type="text" class="tooltips-general material-control" required  pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$" name="correo"
                                v-model="correo" data-toggle="tooltip" data-placement="top" title
                                data-original-title="Escribe el correo.">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Correo</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="group-material">
                            <input type="text" class="tooltips-general material-control" required name="contrasena"
                                v-model="contrasena" data-toggle="tooltip" data-placement="top" title
                                data-original-title="Escribe la contraseña.">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Contraseña</label>
                        </div>
                    </div>
                    <div class="col-sm-4 hidden">
                        <div class="group-material">
                            <span>Estatus</span>
                            <select class="tooltips-general material-control" name="estatusId" v-model="estatusId"
                                data-toggle="tooltip" data-placement="top" data-toggle="tooltip" data-placement="top"
                                required data-original-title="Elige la categoría del libro">
                                {{!-- <option value="" disabled="" selected="">Selecciona una categoría</option> --}}
                                {{#each activoInactivo}}
                                <option value="{{catalagoParametroId}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 hidden">
                        <div class="group-material">
                            <span>Eliminado</span>
                            <select class="tooltips-general material-control" name="eliminadoId" v-model="eliminadoId"
                                data-toggle="tooltip" data-placement="top" data-toggle="tooltip" data-placement="top"
                                required data-original-title="Elige la categoría del libro">
                                {{!-- <option value="" disabled="" selected="">Selecciona una categoría</option> --}}
                                {{#each eliminadoList}}
                                <option value="{{catalagoParametroId}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 hidden">
                        <div class="group-material">
                            <span>Fecha Creación</span>
                            <input type="text" name="fechaCreacion" v-model="fechaCreacion" class="material-control">
                        </div>
                    </div>
                    <div class="col-sm-4 hidden">
                        <div class="group-material">
                            <span>Usuario Creo</span>
                            <input type="text" name="usuarioCreao" v-model="usuarioCreo" class="material-control">
                        </div>
                    </div>
                    <div class="col-sm-4 hidden">
                        <div class="group-material">
                            <span>Fecha Modifico</span>
                            <input type="text" name="fechaModifico" v-model="fechaModifico" class="material-control">
                        </div>
                    </div>
                    <div class="col-sm-4 hidden">
                        <div class="group-material">
                            <span>Usuario Modifico</span>
                            <input type="text" name="usuarioModifico" v-model="usuarioModifico"
                                class="material-control">
                        </div>
                    </div>
                </div>
                <p class="text-center">
            <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i>
                &nbsp;&nbsp; Limpiar</button>
            <button type="button" class="btn btn-primary" id="btnSave"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
        </p>
            </div>
        </form>

        <div id="demo">
            <div class="container-fluid">
                <div class="group-material">
                    <form id="search" style="margin-bottom:5px">
            Search <input name="query" v-model="searchQuery" class="form-control">
          </form>
                </div>
            
            </div>
          
          <demo-grid
            :heroes="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
          </demo-grid>
    </div>
    <script type="text/x-template" id="grid-template">
    <div class="container-fluid">
          <table class="table">
            <thead>
              <tr>
                <th v-for="key in columns"
                  @click="sortBy(key)" 
                  
                  \:class="{ active: sortKey == key.name }">
                  
                  <template v-if="key.name !==''">
                    \{{ key.name | capitalize }}
                  <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'" >
                  </template>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="entry in filteredHeroes">
                <td>\{{entry['nombre']}}</td>
                <td>\{{entry['correo']}}</td>
                <td>
                    <button type='button' class="btn btn-primary"  v-on:click='findById(entry["administradorId"])' >Editar</button>
                    <button type='button'    class="btn btn-danger" v-on:click='prepareToRemove(entry["administradorId"])'>Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </script>
   





        
